<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sarif Industries employees</title>
</head>
<body>

    <p th:text="${employee.getFirstName()}">EmployeeFirstName</p>
    <p th:text="${employee.getLastName()}">EmployeeLastName</p>
    <p th:text="${employee.getAge()}">EmployeeAge</p>
    <p th:text="${employee.getEmail()}">EmployeeEmail</p>
    <a th:href="@{/employee/{id}/edit(id=${employee.getId()})}">Edit</a>

    <form th:method="DELETE" th:action="@{/employee/{id}(id=${employee.getId()})}">
        <input type="submit" value="Delete">
    </form>

</body>
</html>